
<div class="padding-10">
  <div class="row">

    <div class="col-sm-3">
      <div class="pfng-restrictive-width-container">
            <div class="row-cards-pf">
              <label>Rabbit MQ</label>
              <pfng-info-status-card
                  [config]="rabbitmq_card">
              </pfng-info-status-card>
            </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="pfng-restrictive-width-container">
            <div class="row-cards-pf">
              <label>UI Elements</label>
              <pfng-info-status-card
                  [config]="ui_card">
              </pfng-info-status-card>
            </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="pfng-restrictive-width-container">
            <div class="row-cards-pf">
              <label>Icons</label>
              <pfng-info-status-card
                  [config]="icons_card">
              </pfng-info-status-card>
            </div>
      </div>
    </div>

</div>
</div>
