{% load widget_tweaks %}

<form method="post" action="{% url url_create %}" class="js-ahome-generic-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Create a new Credential for {{ model_name }}</h4>
  </div>
  <div class="modal-body">
    <div class="form-group ahome-credential-kind">
      <label class="control-label" for="textInput-modal-markup">Kind</label>
      <div>
        <select class="selectpicker ahome-credential-kind">
          <option value="{% url credential_json 'secret' %}">Basic Auth</option>
          <option value="{% url credential_json 'sshkey' %}">SSH Key</option>
          <option disabled>Custom Auth</option>
        </select>
      </div>
    </div>
    {% include 'frontend/includes/helpers/form.html' %}
    <h4 class="modal-title">Credentials Details</h4>
    <div class="form-group" id="modal-ahome-credentials">
      {% include 'frontend/includes/helpers/credentialform.html' %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Create Credentials</button>
  </div>
</form>



<script>
  // Initialize Boostrap-select
   $('.selectpicker').selectpicker();
   // $('#credential-keykind').selectpicker();

</script>

<script type="text/javascript">
  
  $(".ahome-credential-kind select").on("change", function () {


     $.ajax({
       url: this.value,
       type: 'get',
       dataType: 'json',
       // beforeSend: function () {
       //   // $("#modal-ahome-generic").modal("show");
       //   $("#modal-ahome-credentials").html(this.value);
       // },
       success: function (data) {
         $("#modal-ahome-credentials").html(data.html_form);
         // alert(data);
         $('#credential-keykind').selectpicker();
       }
     });



  });



</script>
