
<form method="post" action="{% url url_update form.instance.pk %}" class="js-ahome-generic-credential-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Credential {{ model_name }}</h4>
  </div>
  <div class="modal-body">
    {% include 'frontend/includes/helpers/form.html' %}
    <h4 class="modal-title">Credentials</h4>
    <div class="form-group" id="modal-ahome-credentials">
      {% include 'frontend/includes/helpers/credentialform.html' %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Update {{ model_name }}</button>
  </div>
</form>



