


<html class="login-pf">

{% load static %}



<!-- PatternFly Styles -->
 <!-- Note: No other CSS files are needed regardless of what other JS packages located in patternfly/components that you decide to pull in -->
 <link rel="stylesheet" href="{% static 'patternfly/dist/css/patternfly.min.css' %}">
 <link rel="stylesheet" href="{% static 'patternfly/dist/css/patternfly-additions.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<!-- jQuery -->
 <script  src="{% static 'jquery/dist/jquery.min.js' %}"></script>

 <!-- Bootstrap JS -->
 <script  src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

 <!-- C3, D3 - Charting Libraries -->
 <script  src="{% static 'c3/c3.min.js' %}"></script>
 <script  src="{% static 'd3/d3.min.js' %}"></script>

 <!-- Datatables, jQuery Grid Component -->
 <!-- Note: jquery.dataTables.js must occur in the html source before patternfly*.js.-->



 <script  src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>

 <!-- <script  src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script> -->

 <script  src="{% static 'drmonty-datatables-colvis/js/dataTables.colVis.js' %}"></script>
 <script  src="{% static 'datatables.net-colreorder/js/dataTables.colReorder.js' %}"></script>

 <!-- PatternFly Custom Componets -  Sidebar, Popovers and Datatables Customizations -->
 <!-- Note: jquery.dataTables.js must occur in the html source before patternfly*.js.-->
 <script  src="{% static 'patternfly/dist/js/patternfly.min.js' %}"></script>

 <!-- Bootstrap Combobox -->
 <script  src="{% static 'patternfly-bootstrap-combobox/js/bootstrap-combobox.js' %}"></script>

 <!-- Bootstrap Date Picker -->
 <script  src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

 <!-- Moment - required by Bootstrap Date Time Picker -->
 <script  src="{% static 'moment/min/moment.min.js' %}"></script>

 <!-- Bootstrap Date Time Picker - requires Moment -->
 <script  src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

 <!-- Bootstrap Select -->
 <script  src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

 <!-- Bootstrap Switch -->
 <script  src="{% static 'bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>

 <!-- Bootstrap Touchspin -->
 <script  src="{% static 'bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script>

 <!-- Bootstrap Tree View -->
 <script  src="{% static 'patternfly-bootstrap-treeview/dist/bootstrap-treeview.min.js' %}"></script>

 <!-- Google Code Prettify - Syntax highlighting of code snippets -->
 <script  src="{% static 'google-code-prettify/bin/prettify.min.js' %}"></script>

 <!-- MatchHeight - Used to make sure dashboard cards are the same height -->
 <script  src="{% static 'jquery-match-height/jquery.matchHeight.js' %}"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
 <!-- Angular Application? You May Want to Consider Pulling Angular-PatternFly And Angular-UI Bootstrap instead of bootstrap.js -->
 <!-- See https://github.com/patternfly/angular-patternfly for more information -->

<html class="layout-pf layout-pf-fixed">
<script  src="{% static 'c3/c3.min.js' %}"></script>
<script  src="{% static 'd3/d3.min.js' %}"></script>
<script  src="{% static 'jquery-match-height/dist/jquery.matchHeight-min.js' %}"></script>



<div class="login-pf-page">

    
    
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <header class="login-pf-page-header">
          <img class="login-pf-brand" src="{% static 'ahome/dist/img/logo-ahome.png' %}" alt="ahome" />
          
        </header>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div class="card-pf">
              <header class="login-pf-header">
                <select class="selectpicker">
                  <option>English</option>
                  <option>French</option>
                </select>
                <h1>Log In to Your Account</h1>
              </header>
              <p>

                {% if form.errors %}
                <script type=text/javascript>toastr.error('Your username and password didn\'t match. Please try again.')</script>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                    {% else %}
                    <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                
              </p>
              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="form-group">
                  <label class="sr-only" for="username">Username</label>
                  <input type="text" class="form-control  input-lg" id="username" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <label class="sr-only"  for="password">Password
                  </label>
                  <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group login-pf-settings">
                      <label class="checkbox-label">
                        <input type="checkbox"> Keep me logged in for 30 days
                      </label>
                      <a href="{% url 'password_reset' %}">Forgot password?</a>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg">Log In</button>
              </form>
              <p class="login-pf-signup">Need an account?<a href="#">Sign up</a></p>
            </div><!-- card -->
            
            <footer class="login-pf-page-footer">
              <ul class="login-pf-page-footer-links list-unstyled">
                <li><a class="login-pf-page-footer-link" href="#">Terms of Use</a></li>
                <li><a class="login-pf-page-footer-link" href="#">Help</a></li>
                <li><a class="login-pf-page-footer-link" href="#">Privacy Policy</a></li>
              </ul>
            </footer>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- login-pf-page -->

</html>
  

