{% load widget_tweaks %}


<input id="credential-kind" type="hidden" name="credential-kind" value="{{ hiddeninputs.kind }}">
<input id="credential-schema" type="hidden" name="credential-schema" value="{{ hiddeninputs.schema }}">

{% for field in credentialform %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control" placeholder=field.label id=field.html_name %}
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{% endfor %}