{% load static %}

<div class="blank-slate-pf " id="">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon pficon-add-circle-o"></span>
  </div>
  <h1>
    No {{model_name}}
  </h1>
  <p>
    Please add an {{model_name}} to start using ahome enterprise edition.
  </p>
  <p>
    Learn more about this <a href="#">in the documentation</a>.
  </p>
  <div id="ahome-generic-create" class="blank-slate-pf-main-action js-link-ahome-generic-create"
    data-url="{% url url_create %}">
    <button class="btn btn-primary btn-lg"> Add {{model_name}} </button>
  </div>
</div>
