{% load static %}

{% load widget_tweaks %}

{% load frontend_extras %}

{% for field in credentialform %}
  <div class="form-group{% if field.errors %} has-error{% endif %} {% if field.field.required %} required {% endif %}">


    <label class="col-sm-3 control-label {% if field.field.required %} required-pf {% endif %}" for="{{ field.id_for_label }}" {% if field.field.required %} required {% endif %} >{{ field.label }}</label>
    <div class="col-sm-9">

      {% with field.auto_id|slug_js as field_id %}
        {% render_field field class="form-control" placeholder=field.label id=field_id %}
      {% endwith %}
      {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
      {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  </div>
{% endfor %}