{% load static %}
{% load frontend_extras %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="ahome-breadcrumb breadcrumb">
                <a class="js-link-ahome-platform-detail" href="#paas" class="" ui-sref="paas-create">Return
                    to creation page</a>
            </ol>
            <h1>Distribution detail</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card-pf col-md-8">
        <div class="card-pf-body">
            <div class="paas-detail-header">
                <div class="paas-detail-mage">
                    <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                </div>
                <div class="paas-detail-content">
                    <h1>Distribution name</h1>
                    <p>Distribution author</p>
                    <p>Distribution version informations</p>
                </div>
            </div>
        </div>
        <div class="card-pf-footer">
            <div class="paas-detail-footer">
                <h2>Description</h2>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
                <h2>Software Included</h2>
                <!-- Toolbar -->
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

<h1>2. Choose provider</h1>


<div class="container-fluid">

    {% for usercredential in api.results %}

    <div class="col-xs-12 col-sm-3 col-md-2 card-box-iaas">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-provider-select">
            <div class="card-pf-body image-icon-iaas">

                <div class="card-pf-top-element">

                </div>

                <div class="card-pf-heading-kebab">
                    <div class="dropdown pull-right dropdown-kebab-pf">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropupKebabRight2x"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-ellipsis-v"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropupKebabRight2x">
                            <li><a href="#" used="76">Connector A</a></li>
                            <li><a href="#" used="19">Connector B</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" used="43">Default Connector</a></li>
                        </ul>
                    </div>

                    <h2 class="card-pf-title">
                        <img src="{{ usercredential.icons.usercredential.image }}" class="image-icon"
                            alt="{{ usercredential.kind }}">
                    </h2>
                </div>
                <p>
                    <a class="applauncher-pf-link" href="#"
                        data-url="{% url 'wizardboxesform_generate' usercredential.kind 'usercredential' usercredential.id %}"
                        data-app="{{ usercredential.kind }}_credentials_01"><strong>{{ usercredential.name }}</strong></a>
                </p>
            </div>

            <div class="card-pf-footer">
                <div class="progress-pf-legend">
                    <div class="progress">
                        <div class="progress-bar progress-bar-completed" role="progressbar" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100" style="width: 25%;" data-toggle="tooltip"
                            title="25% Used">
                            <span class="sr-only">25% Used</span>
                        </div>
                        <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100" style="width: 75%;" data-toggle="tooltip"
                            title="75% Available">
                            <span class="sr-only">75% Available</span>
                        </div>
                    </div>
                    <script>
                        // Initialize Tooltip
                        jQuery(document).ready(function () {
                            jQuery('[data-toggle="tooltip"]').tooltip();
                        });
                    </script>

                    <p class="displayed_progress"><span class="pficon pficon-warning-triangle-o"></span>
                        <strong>25%</strong> in
                        use</p>
                </div>
            </div>


        </div>
    </div>


    {% empty %}


    <div class="blank-slate-pf" id="">
        <div class="blank-slate-pf-icon">
            <span class="pficon pficon pficon-add-circle-o"></span>
        </div>
        <h1>
            No Credentials set for Providers
        </h1>
        <p>
            Please add a credential for a provider.
        </p>
        <p>
            Learn more about this <a href="#">in the documentation</a>.
        </p>


        <button class="btn btn-primary js-link-ahome-navigate" data-url="{% url 'usercredential' %}" type="button">
            <span class="glyphicon glyphicon-plus"></span>
            Add Credentials
        </button>



    </div>

    {% endfor %}


    <div class="col-xs-12 col-sm-3 col-md-2 card-box-iaas hidden">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-provider-select">
            <div class="card-pf-body image-icon-iaas">

                <div class="card-pf-top-element">

                </div>

                <div class="card-pf-heading-kebab">
                    <div class="dropdown pull-right dropdown-kebab-pf">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropupKebabRight2x"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-ellipsis-v"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropupKebabRight2x">
                            <li><a href="#" used="8">Connector A</a></li>
                            <li><a href="#" used="39">Connector B</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" used="95">Default Connector</a></li>
                        </ul>
                    </div>

                    <h2 class="card-pf-title">
                        <img src="{% static 'ahome/assets/azure-icon.svg' %}" class="image-icon" alt="Ms Azure">
                    </h2>
                </div>
                <p>
                    <a class="applauncher-pf-link" href="#"
                        data-url="{% url 'wizardboxesform_provider' 'ms_azure' 'provider' %}"
                        data-app="azure_credentials_01"><strong>Azure limited api</strong></a>
                </p>
            </div>

            <div class="card-pf-footer">
                <div class="progress-pf-legend">
                    <div class="progress">
                        <div class="progress-bar progress-bar-completed" role="progressbar" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100" style="width: 75%;" data-toggle="tooltip"
                            title="75% Used">
                            <span class="sr-only">75% Used</span>
                        </div>
                        <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100" style="width: 25%;" data-toggle="tooltip"
                            title="25% Available">
                            <span class="sr-only">25% Available</span>
                        </div>
                    </div>
                    <script>
                        // Initialize Tooltip
                        jQuery(document).ready(function () {
                            jQuery('[data-toggle="tooltip"]').tooltip();
                        });
                    </script>

                    <p class="displayed_progress"><span class="pficon pficon-warning-triangle-o"></span>
                        <strong>75%</strong> in
                        use</p>
                </div>
            </div>


        </div>
    </div>


    <div class="col-xs-12 col-sm-3 col-md-2 card-box-iaas hidden">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-provider-select">
            <div class="card-pf-body image-icon-iaas">

                <div class="card-pf-top-element">

                </div>

                <div class="card-pf-heading-kebab">
                    <div class="dropdown pull-right dropdown-kebab-pf">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropupKebabRight2x"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-ellipsis-v"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropupKebabRight2x">
                            <li><a href="#" used="56">Connector A</a></li>
                            <li><a href="#" used="32">Connector B</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" used="02">Default Connector</a></li>
                        </ul>
                    </div>

                    <h2 class="card-pf-title">
                        <img src="{% static 'ahome/assets/google-cloud.svg' %}" class="image-icon" alt="Google Cloud">
                    </h2>
                </div>
                <p>
                    <a class="applauncher-pf-link" href="#"
                        data-url="{% url 'wizardboxesform_provider' 'google_ce' 'provider' %}"
                        data-app="google_ce_credentials_01"><strong>Google Cloud api</strong></a>
                </p>
            </div>

            <div class="card-pf-footer">
                <div class="progress-pf-legend">
                    <div class="progress">
                        <div class="progress-bar progress-bar-completed" role="progressbar" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100" style="width: 75%;" data-toggle="tooltip"
                            title="75% Used">
                            <span class="sr-only">75% Used</span>
                        </div>
                        <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100" style="width: 25%;" data-toggle="tooltip"
                            title="25% Available">
                            <span class="sr-only">25% Available</span>
                        </div>
                    </div>
                    <script>
                        // Initialize Tooltip
                        jQuery(document).ready(function () {
                            jQuery('[data-toggle="tooltip"]').tooltip();
                        });
                    </script>

                    <p class="displayed_progress"><span class="pficon pficon-warning-triangle-o"></span>
                        <strong>75%</strong> in
                        use</p>
                </div>
            </div>


        </div>
    </div>


    <div class="col-xs-12 col-sm-3 col-md-2 card-box-iaas hidden">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-provider-select">
            <div class="card-pf-body image-icon-iaas">

                <div class="card-pf-top-element">

                </div>

                <div class="card-pf-heading-kebab">
                    <div class="dropdown pull-right dropdown-kebab-pf">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropupKebabRight2x"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-ellipsis-v"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropupKebabRight2x">
                            <li><a href="#" used="98">Connector A</a></li>
                            <li><a href="#" used="45">Connector B</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" used="40">Default Connector</a></li>
                        </ul>
                    </div>

                    <h2 class="card-pf-title">
                        <img src="{% static 'ahome/assets/containership.svg' %}" class="image-icon" alt="KVM">
                    </h2>
                </div>
                <p>
                    <a class="applauncher-pf-link" href="#"
                        data-url="{% url 'wizardboxesform_provider' 'virt' 'provider' %}"
                        data-app="kvm_credentials_01"><strong>KVM api</strong></a>
                </p>
            </div>

            <div class="card-pf-footer">
                <div class="progress-pf-legend">
                    <div class="progress">
                        <div class="progress-bar progress-bar-completed" role="progressbar" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100" style="width: 75%;" data-toggle="tooltip"
                            title="75% Used">
                            <span class="sr-only">75% Used</span>
                        </div>
                        <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100" style="width: 25%;" data-toggle="tooltip"
                            title="25% Available">
                            <span class="sr-only">25% Available</span>
                        </div>
                    </div>
                    <script>
                        // Initialize Tooltip
                        jQuery(document).ready(function () {
                            jQuery('[data-toggle="tooltip"]').tooltip();
                        });
                    </script>

                    <p class="displayed_progress"><span class="pficon pficon-warning-triangle-o"></span>
                        <strong>75%</strong> in
                        use</p>
                </div>
            </div>


        </div>
    </div>



    <div class="col-xs-12 col-sm-3 col-md-2 card-box-iaas hidden">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-provider-select">
            <div class="card-pf-body image-icon-iaas">

                <div class="card-pf-top-element">

                </div>

                <div class="card-pf-heading-kebab">
                    <div class="dropdown pull-right dropdown-kebab-pf">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropupKebabRight2x"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-ellipsis-v"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropupKebabRight2x">
                            <li><a href="#" used="33">Connector A</a></li>
                            <li><a href="#" used="54">Connector B</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" used="22">Default Connector</a></li>
                        </ul>
                    </div>

                    <h2 class="card-pf-title">
                        <img src="{% static 'ahome/assets/digital-ocean-icon.svg' %}" class="image-icon"
                            alt="Digital Ocean">
                    </h2>
                </div>
                <p>
                    <a class="applauncher-pf-link" href="#"
                        data-url="{% url 'wizardboxesform_provider' 'digital_ocean' 'provider' %}"
                        data-app="digital_ocean_credentials_01"><strong>Digital Ocean api</strong></a>
                </p>
            </div>

            <div class="card-pf-footer">
                <div class="progress-pf-legend">
                    <div class="progress">
                        <div class="progress-bar progress-bar-completed" role="progressbar" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100" style="width: 75%;" data-toggle="tooltip"
                            title="75% Used">
                            <span class="sr-only">75% Used</span>
                        </div>
                        <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100" style="width: 25%;" data-toggle="tooltip"
                            title="25% Available">
                            <span class="sr-only">25% Available</span>
                        </div>
                    </div>
                    <script>
                        // Initialize Tooltip
                        jQuery(document).ready(function () {
                            jQuery('[data-toggle="tooltip"]').tooltip();
                        });
                    </script>

                    <p class="displayed_progress"><span class="pficon pficon-warning-triangle-o"></span>
                        <strong>75%</strong> in
                        use</p>
                </div>
            </div>


        </div>
    </div>



    <div class="col-xs-12 col-sm-3 col-md-2 card-box-iaas hidden">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-provider-select">
            <div class="card-pf-body image-icon-iaas">

                <div class="card-pf-top-element">

                </div>

                <div class="card-pf-heading-kebab">
                    <div class="dropdown pull-right dropdown-kebab-pf">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropupKebabRight2x"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-ellipsis-v"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropupKebabRight2x">
                            <li><a href="#" used="83">Connector A</a></li>
                            <li><a href="#" used="31">Connector B</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" used="12">Default Connector</a></li>
                        </ul>
                    </div>

                    <h2 class="card-pf-title">
                        <img src="{% static 'ahome/assets/redhat-icon.svg' %}" class="image-icon" alt="RHEV">
                    </h2>
                </div>
                <p>
                    <a class="applauncher-pf-link" href="#"
                        data-url="{% url 'wizardboxesform_provider' 'rhev' 'provider' %}"
                        data-app="redhat_credentials_01"><strong>RHEV api</strong></a>
                </p>
            </div>

            <div class="card-pf-footer">
                <div class="progress-pf-legend">
                    <div class="progress">
                        <div class="progress-bar progress-bar-completed" role="progressbar" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100" style="width: 75%;" data-toggle="tooltip"
                            title="75% Used">
                            <span class="sr-only">75% Used</span>
                        </div>
                        <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100" style="width: 25%;" data-toggle="tooltip"
                            title="25% Available">
                            <span class="sr-only">25% Available</span>
                        </div>
                    </div>
                    <script>
                        // Initialize Tooltip
                        jQuery(document).ready(function () {
                            jQuery('[data-toggle="tooltip"]').tooltip();
                        });
                    </script>

                    <p class="displayed_progress"><span class="pficon pficon-warning-triangle-o"></span>
                        <strong>75%</strong> in
                        use</p>
                </div>
            </div>


        </div>
    </div>
</div>

<h1>3. Choose a plan</h1>
{% snippet_ahome_pricing_plan %}

<div class="container-fluid">

    <p>
        <button class="hidden" name="hidden-view-plan" id="hidden-view-plan"></button>
        <button class="hidden" name="hidden-view-provider" id="hidden-view-provider"></button>
        <div name="hidden-view-summary" id="hidden-view-summary"></div>

        <button class="btn btn-primary disabled" type="button" name="btn-launch-wizard" id="btn-launch-wizard"
            data-url="{% url 'wizardboxesform_provider' 'kvm' 'provider' %}">Launch Wizard</button>

    </p>


</div>



<!-- /wizardbox -->
<div id="ahome-wizardbox">
    {% include 'frontend/includes/helpers/wizard-modal.html' %}
</div>
<!-- /.wizardbox -->



<script src="{% static 'custom/custom.js'%}"></script>

<script>

    $('#btn-launch-wizard').prop('disabled', true);


    $(function () {

        function enableButton() {

            // console.log( $('#hidden-view-paas').hasClass('active') );

            if ($('#hidden-view-provider').hasClass('active')
                && $('#hidden-view-plan').hasClass('active')) {
                // console.log( "all items selected" );
                $("#btn-launch-wizard").removeClass('disabled');
                $('#btn-launch-wizard').prop('disabled', false);

            } else {

                $("#btn-launch-wizard").addClass('disabled');
                $('#btn-launch-wizard').prop('disabled', true);

            }

        };

        $('.card-pf-view-provider-select').click(function () {

            //
            // console.log( $( this  ).find('.applauncher-pf-link').attr("data-app") );
            //
            $('.card-pf-view-provider-select').removeClass('active');
            $(this).addClass('active');
            $('#hidden-view-provider').addClass('active');

            $('#hidden-view-provider').html($(this).find('.applauncher-pf-link').attr("data-app"));

            $('#btn-launch-wizard').attr('data-url', $(this).find('.applauncher-pf-link').attr("data-url"));


            enableButton();

            // if ($(this).hasClass('active'))
            // { $(this).removeClass('active'); }
            // else
            // { $('.card-pf-view-provider-select').removeClass('active'); $(this).addClass('active'); }


        });

        $('.card-pf-view-paas-select').click(function (e) {
            if (e.target.localName === "div") {
                $('.card-pf-view-paas-select').removeClass('active');
                $(this).addClass('active');
                $('#hidden-view-paas').addClass('active');
                $('#hidden-view-paas').html($(this).find('.applauncher-pf-link').attr("data-app"));
                enableButton();
            }
        });

        $('.card-pf-view-plan-select').click(function () {
            $('.card-pf-view-plan-select').removeClass('active');
            $(this).addClass('active');
            $('#hidden-view-plan').addClass('active');
            $('#hidden-view-plan').html($(this).find('.applauncher-pf-link').attr("data-app"));
            enableButton();
        });

    });
</script>
{% csrf_token %}
<script src="{% static 'ahome/js/ahome-generics.js' %}"></script>

<script type="text/javascript">
    $(".ahome-breadcrumb a").click(function () {
        var btn = $(this);
        $.ajax({
            type: 'GET',
            url: btn.attr("data-url"),
            beforeSend: function () {
                $("#ahome-overlay").fadeIn(300);
            },
            success: function (data) {
                // console.log(data);
                $("#ajax-responsive").html(data);
            }
        }).done(function () {
            setTimeout(function () {
                $("#ahome-overlay").fadeOut(300);
            }, 500);
        });
    });
</script>

<script type="text/javascript">
	var loadWizardBoxForm = function () {
		var btn = $(this);
		//btn.attr("data-url")
		//console.log(btn.attr("data-url"));
		$.ajax({
			url: btn.attr("data-url"),
			type: 'get',
			dataType: 'json',
			// beforeSend: function () {
			//   $("#complete").modal("show");
			// },
			success: function (data) {
				//console.log(data);
				$("#ahome-wizardbox .modal-content").html(data.html_form);
				// $( ".btn.wizard-pf-complete" ).click();
				// alert(data.html_form);
			},
			complete: function (data) {
				// $("#ahome-wizardbox").html(data.html_form);
				$(".btn.wizard-pf-complete").click();
				// console.log(data.html_form);
			}
		});
	};

	// $("#ahome-generic-list").on("click", ".js-link-ahome-generic-update", loadForm);

	$("#btn-launch-wizard").on('click', loadWizardBoxForm);

</script>

<script>
    // Initialize Boostrap-select
    $('.selectpicker').selectpicker();

</script>