{% load static %}
{% load frontend_extras %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a class="js-link-ahome-platform-detail" href="#paas" class="" data-url="{% url 'paas_create' %}">Return to creation page</a>
            <h1>Available platforms</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail"  ui-sref="paas-detail" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 card-box-iaas ahome-distribution">
        <div
            class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select card-pf-view-paas-select">
            <div class="card-pf-body image-icon-iaas">
                <div class="ahome-paas-box">
                    <div class="card-pf-heading-kebab">
                        <h2 class="card-pf-title">
                            <img src="{% static 'temp/os-placeholder-img.jpg' %}" class="image-icon" alt="Ubuntu">
                        </h2>
                    </div>
                    <div class="ahome-paas-description">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus.<br />
                            <a class="applauncher-pf-link js-link-ahome-platform-detail" href="#"
                                data-url="{% url 'paas_detail' %}" data-app="ubuntu_18_x64">detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>