amqp
ansible-runner
asgiref
asn1crypto
attrs
autobahn
Automat
Babel
bcrypt
billiard
cached-property
celery
certifi
cffi
channels
channels-redis
chardet
configparser
constantly
coverage
cryptography
daemon
daphne
Django
django-celery-results
django-widget-tweaks
django-yamlfield
djangorestframework
docutils
flower
hiredis
hyperlink
idna
incremental
jsonschema
kombu
lockfile
msgpack
msgpack-python
netaddr
paramiko
pexpect
pidlockfile
pika
pipenv
psutil
psycopg2-binary
ptyprocess
pycparser
PyHamcrest
PyNaCl
pyrsistent
python-daemon
python-dotenv
pytz
PyYAML
redis
requests
six
sqlparse
tornado
Twisted
txaio
urllib3
vine
virtualenv
virtualenv-clone
zope.interface
pip-tools
pip
ansible
yaql

drf-yasg
djangorestframework-simplejwt
django-filter
django-cors-headers
django-extensions
django-debug-toolbar
celery-progress
xmltodict
awesome-slugify
pycrypto


flake8

pylint
python-logging-rabbitmq # https://github.com/albertomr86/python-logging-rabbitmq
python-json-logger
attrdict

supervisor
# Twisted[http2,tls]

# Asyncio
async-timeout
aioredis
aiohttp
aioamqp


# GCE
apache-libcloud
google-auth    # needed for gce inventory imports

# Azure
# azure deps from https://github.com/ansible/ansible/blob/stable-2.8/packaging/requirements/requirements-azure.txt
packaging
azure-cli-core
azure-cli-nspkg
azure-common
azure-mgmt-authorization
azure-mgmt-batch
azure-mgmt-cdn
azure-mgmt-compute
azure-mgmt-containerinstance
azure-mgmt-containerregistry
azure-mgmt-containerservice
azure-mgmt-dns
azure-mgmt-keyvault
azure-mgmt-marketplaceordering
azure-mgmt-monitor
azure-mgmt-network
azure-mgmt-nspkg
azure-mgmt-redis
azure-mgmt-resource
azure-mgmt-rdbms
azure-mgmt-servicebus
azure-mgmt-sql
azure-mgmt-storage
azure-mgmt-trafficmanager
azure-mgmt-web
azure-nspkg
azure-storage
msrest
msrestazure
azure-keyvault
azure-graphrbac
azure-mgmt-cosmosdb
azure-mgmt-hdinsight
azure-mgmt-devtestlabs
azure-mgmt-loganalytics
azure-mgmt-automation
azure-mgmt-iothub

# AWS
boto    # last which does not break ec2 scripts
boto3
ncclient

netaddr
ovirt-engine-sdk-python   # minimum set inside Ansible facts module requirements
pycurl==7.43.0.1    # higher versions will not install without SSL backend specified


# VMware
pyvmomi

# WinRM
backports.ssl-match-hostname
pywinrm[kerberos]

requests-credssp   # For windows authentication awx/issues/1144
# OpenStack
openstacksdk
whitenoise


