

<div class="row row-cards-pf">
  <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
    <div class="col-xs-12 col-sm-6 col-md-3">
		<div class="card-pf card-pf-accented card-pf-aggregate-status">
		  <h2 class="card-pf-title">
		    <span class="fa fa-shield"></span><span class="card-pf-aggregate-status-count">50</span> Devices
		  </h2>
		  <div class="card-pf-body">
		    <p class="card-pf-aggregate-status-notifications">
		      <span class="card-pf-aggregate-status-notification"><a href="#" class="add" data-toggle="tooltip" data-placement="top" title="Add Organization"><span class="pficon pficon-add-circle-o"></span></a></span>
		    </p>
		  </div>
		</div>


	</div>

</div>



      <div class="container-fluid">
        <div class="row toolbar-pf">
          <div class="col-sm-12">
            <form class="toolbar-pf-actions">
              <div class="form-group toolbar-pf-filter">
                <label class="sr-only" for="filter">Name</label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" id="input-filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="selected"><a href="#">Name</a></li>
                      <li><a href="#">Type</a></li>
                      <li><a href="#">Color</a></li>
                    </ul>
                  </div><!-- /btn-group -->
                  <input type="text" class="form-control" id="filter" placeholder="Filter By Name...">
                </div><!-- /input-group -->
              </div>
              <div class="form-group">
                <div class="dropdown btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" id="filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li class="selected"><a href="#">Name</a></li>
                    <li><a href="#">Type</a></li>
                    <li><a href="#">Last Modified</a></li>
                  </ul>
                </div>
                <button class="btn btn-link" type="button">
                  <span class="fa fa-sort-alpha-asc"></span>
                </button>
              </div>
              <div class="form-group">
                <button class="btn btn-default" type="button">Action</button>
                <button class="btn btn-default" type="button">Action</button>
                <div class="dropdown btn-group  dropdown-kebab-pf">
  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another Action</a></li>
    <li><a href="#">Something Else Here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated Link</a></li>
  </ul>
</div>

              </div>
              
              
              <div class="toolbar-pf-action-right">
                <div class="form-group toolbar-pf-find">
                  <button class="btn btn-link btn-find" type="button">
                    <span class="fa fa-search"></span>
                  </button>
                  <div class="find-pf-dropdown-container">
                    <input type="text" class="form-control" id="find" placeholder="Find By Keyword...">
                    <div class="find-pf-buttons">
                      <span class="find-pf-nums">1 of 3</span>
                      <button class="btn btn-link" type="button">
                        <span class="fa fa-angle-up"></span>
                      </button>
                      <button class="btn btn-link" type="button">
                        <span class="fa fa-angle-down"></span>
                      </button>
                      <button class="btn btn-link btn-find-close" type="button">
                        <span class="pficon pficon-close"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group toolbar-pf-view-selector">
                  <button class="btn btn-link "><i class="fa fa-th"></i></button>
                  <button class="btn btn-link "><i class="fa fa-th-large"></i></button>
                  <button class="btn btn-link "><i class="fa fa-th-list"></i></button>
                </div>
              </div>
            </form>
            <div class="row toolbar-pf-results">
              <div class="col-sm-12">
                <h5>40 Results</h5>
                <p>Active filters:</p>
                <ul class="list-inline">
                  <li>
                    <span class="label label-info">
                      Name: nameofthething
                      <a href="#"><span class="fa fa-times"></span></a>
                    </span>
                  </li>
                  <li>
                    <span class="label label-info">
                      Name: nameofthething
                      <a href="#"><span class="fa fa-times"></span></a>
                    </span>
                  </li>
                  <li>
                    <span class="label label-info">
                      Name: nameofthething
                      <a href="#"><span class="fa fa-times"></span></a>
                    </span>
                  </li>
                </ul>
                <p><a href="#">Clear All Filters</a></p>
              </div><!-- /col -->
            </div><!-- /row -->
          </div><!-- /col -->
        </div><!-- /row -->
      </div><!-- /container -->







<div id="pf-list-compound-expansion" class="list-group list-view-pf list-view-pf-view">


  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      <div class="dropdown pull-right dropdown-kebab-pf">
  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another Action</a></li>
    <li><a href="#">Something Else Here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated Link</a></li>
  </ul>
</div>

    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa pficon-cluster list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            NUC8
          </div>
          <div class="list-group-item-text">
            IaC Training KIT<br/>Model: Intel NUC8i3BEH.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-screen"></span>
              <strong>8</strong> Hosts
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-cluster"></span>
              <strong>6</strong> Clusters
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-container-node"></span>
              <strong>10</strong> Nodes
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-image"></span>
              <strong>8</strong> Images
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Host 1</li>
            <li>Host 2</li>
            <li>Host 3</li>
            <li>Host 4</li>
            <li>Host 5</li>
            <li>Host 6</li>
            <li>Host 7</li>
            <li>Host 8</li>
            <li>Host 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Cluster 1</li>
            <li>Cluster 2</li>
            <li>Cluster 3</li>
            <li>Cluster 4</li>
            <li>Cluster 5</li>
            <li>Cluster 6</li>
            <li>Cluster 7</li>
            <li>Cluster 8</li>
            <li>Cluster 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Nodes 1</li>
            <li>Nodes 2</li>
            <li>Nodes 3</li>
            <li>Nodes 4</li>
            <li>Nodes 5</li>
            <li>Nodes 6</li>
            <li>Nodes 7</li>
            <li>Nodes 8</li>
            <li>Nodes 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
            <li>Image 7</li>
            <li>Image 8</li>
            <li>Image 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      <div class="dropdown pull-right dropdown-kebab-pf">
  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another Action</a></li>
    <li><a href="#">Something Else Here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated Link</a></li>
  </ul>
</div>

    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa pficon-cluster list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Juniper SRX1500
          </div>
          <div class="list-group-item-text">
            Core network Gear<br/>Model: Juniper SRX1500
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-screen"></span>
              <strong>8</strong> Hosts
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-cluster"></span>
              <strong>6</strong> Clusters
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-container-node"></span>
              <strong>10</strong> Nodes
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-image"></span>
              <strong>8</strong> Images
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Host 1</li>
            <li>Host 2</li>
            <li>Host 3</li>
            <li>Host 4</li>
            <li>Host 5</li>
            <li>Host 6</li>
            <li>Host 7</li>
            <li>Host 8</li>
            <li>Host 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Cluster 1</li>
            <li>Cluster 2</li>
            <li>Cluster 3</li>
            <li>Cluster 4</li>
            <li>Cluster 5</li>
            <li>Cluster 6</li>
            <li>Cluster 7</li>
            <li>Cluster 8</li>
            <li>Cluster 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Nodes 1</li>
            <li>Nodes 2</li>
            <li>Nodes 3</li>
            <li>Nodes 4</li>
            <li>Nodes 5</li>
            <li>Nodes 6</li>
            <li>Nodes 7</li>
            <li>Nodes 8</li>
            <li>Nodes 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
            <li>Image 7</li>
            <li>Image 8</li>
            <li>Image 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>




  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      <div class="dropdown pull-right dropdown-kebab-pf">
  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another Action</a></li>
    <li><a href="#">Something Else Here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated Link</a></li>
  </ul>
</div>

    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa pficon-cluster list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            NUC8
          </div>
          <div class="list-group-item-text">
            IaC Training KIT<br/>Model: Intel NUC8i3BEH.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-screen"></span>
              <strong>8</strong> Hosts
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-cluster"></span>
              <strong>6</strong> Clusters
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-container-node"></span>
              <strong>10</strong> Nodes
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-image"></span>
              <strong>8</strong> Images
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Host 1</li>
            <li>Host 2</li>
            <li>Host 3</li>
            <li>Host 4</li>
            <li>Host 5</li>
            <li>Host 6</li>
            <li>Host 7</li>
            <li>Host 8</li>
            <li>Host 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Cluster 1</li>
            <li>Cluster 2</li>
            <li>Cluster 3</li>
            <li>Cluster 4</li>
            <li>Cluster 5</li>
            <li>Cluster 6</li>
            <li>Cluster 7</li>
            <li>Cluster 8</li>
            <li>Cluster 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Nodes 1</li>
            <li>Nodes 2</li>
            <li>Nodes 3</li>
            <li>Nodes 4</li>
            <li>Nodes 5</li>
            <li>Nodes 6</li>
            <li>Nodes 7</li>
            <li>Nodes 8</li>
            <li>Nodes 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
            <li>Image 7</li>
            <li>Image 8</li>
            <li>Image 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      <div class="dropdown pull-right dropdown-kebab-pf">
  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another Action</a></li>
    <li><a href="#">Something Else Here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated Link</a></li>
  </ul>
</div>

    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa pficon-cluster list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            NUC8
          </div>
          <div class="list-group-item-text">
            IaC Training KIT<br/>Model: Intel NUC8i3BEH.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-screen"></span>
              <strong>8</strong> Hosts
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-cluster"></span>
              <strong>6</strong> Clusters
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-container-node"></span>
              <strong>10</strong> Nodes
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-image"></span>
              <strong>8</strong> Images
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Host 1</li>
            <li>Host 2</li>
            <li>Host 3</li>
            <li>Host 4</li>
            <li>Host 5</li>
            <li>Host 6</li>
            <li>Host 7</li>
            <li>Host 8</li>
            <li>Host 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Cluster 1</li>
            <li>Cluster 2</li>
            <li>Cluster 3</li>
            <li>Cluster 4</li>
            <li>Cluster 5</li>
            <li>Cluster 6</li>
            <li>Cluster 7</li>
            <li>Cluster 8</li>
            <li>Cluster 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Nodes 1</li>
            <li>Nodes 2</li>
            <li>Nodes 3</li>
            <li>Nodes 4</li>
            <li>Nodes 5</li>
            <li>Nodes 6</li>
            <li>Nodes 7</li>
            <li>Nodes 8</li>
            <li>Nodes 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
            <li>Image 7</li>
            <li>Image 8</li>
            <li>Image 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Hostname</dt>
            <dd>nuc8.ahome.io</dd>
            <dt>Device Type</dt>
            <dd>BareMetal</dd>
            <dt>Model</dt>
            <dd>Intel NUC8i3BEH</dd>
            <dt>SN</dt>
            <dd>BOXNUC8I3BEH2</dd>
            <dt>Processors</dt>
            <dd>2 x Core i3-8109U</dd>
            <dt>Memory</dt>
            <dd>32 GB</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>




<script>
  $(document).ready(function () {
    // Row Checkbox Selection
    $("#pf-list-compound-expansion input[type='checkbox']").change(function (e) {
      if ($(this).is(":checked")) {
        $(this).closest('.list-group-item').addClass("active");
      } else {
        $(this).closest('.list-group-item').removeClass("active");
      }
    });
    // toggle dropdown menu
    $("#pf-list-compound-expansion .list-view-pf-actions").on("show.bs.dropdown", function () {
      var $this = $(this);
      var $dropdown = $this.find(".dropdown");
      var space = $(window).height() - $dropdown[0].getBoundingClientRect().top - $this.find(".dropdown-menu").outerHeight(true);
      $dropdown.toggleClass("dropup", space < 10);
    });
    // compound expansion
    $("#pf-list-compound-expansion .list-view-pf-expand").on("click", function () {
      var $this = $(this);
      var $heading = $(this).parents(".list-group-item");
      //var $row = $heading.parent();
      var $subPanels = $heading.find(".list-group-item-container");
      var index = $heading.find(".list-view-pf-expand").index(this);

      //Remove all active status
      $heading.find(".list-view-pf-expand.active").find(".fa-angle-right").removeClass("fa-angle-down")
        .end().removeClass("active")
          .end().removeClass("list-view-pf-expand-active");
      // Add active to the clicked item
      $(this).addClass("active")
        .parents(".list-group-item").addClass("list-view-pf-expand-active")
          .end().find(".fa-angle-right").addClass("fa-angle-down");
      // check if it needs to hide
      if($subPanels.eq(index).hasClass("hidden")){
        $heading.find(".list-group-item-container:visible").addClass("hidden");
        $subPanels.eq(index).removeClass("hidden");
      } else {
        $subPanels.eq(index).addClass("hidden");
        $heading.find(".list-view-pf-expand.active").find(".fa-angle-right").removeClass("fa-angle-down")
         .end().removeClass("active")
          .end().removeClass("list-view-pf-expand-active");
      }
    });

    // click close button to close the panel
    $("#pf-list-compound-expansion .list-group-item-container .close").on("click", function (){
      var $this = $(this);
      var $panel = $this.parent();

      // close the container and remove the active status
      $panel.addClass("hidden")
        .parent().removeClass("list-view-pf-expand-active")
          .find(".list-view-pf-expand.active").removeClass("active")
            .find(".fa-angle-right").removeClass("fa-angle-down")
    });
  });
</script>