{% load static %}

{% for data in apidata.results %}





  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Show</button>
      <div class="dropdown pull-right dropdown-kebab-pf">
  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
    <li><a href="#" class="js-link-ahome-generic-update" data-url="{% url url_update data.id %}"><span class="glyphicon glyphicon-pencil"></span> &nbsp; Edit</a></li>
    <li><a href="#" class="btn-sm js-link-ahome-generic-delete"
                  data-url="{% url url_delete data.id %}" ><span class="glyphicon glyphicon-trash"></span> &nbsp; Delete</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#"><span class="fa fa-refresh"></span> &nbsp; Synchronize</a></li>
  </ul>
</div>

    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa pficon-route list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            {{ data.address }}
          </div>
          <div class="list-group-item-text">
            {{ data.description }}
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-ok"></span>
             active
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-plugged"></span>
              <a href="#"> {{ data.connected.host }} ({{ data.connected.mac }}) </a> 
          </div>
        </div>
      </div>
    </div>
  </div>




{% empty %}



<div class="blank-slate-pf " id="">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon pficon-add-circle-o"></span>
  </div>
  <h1>
    No {{model_name}}
  </h1>
  <p>
    Please add an {{model_name}} to start using ahome enterprise edition.
  </p>
  <p>
    Learn more about this <a href="#">in the documentation</a>.
  </p>
  <div id="ahome-generic-create" class="blank-slate-pf-main-action js-link-ahome-generic-create" data-url="{% url url_create %}">
    <button class="btn btn-primary btn-lg"> Add {{model_name}} </button>
  </div>
</div>



{% endfor %}


<script>
$(function () {

  $(".js-link-ahome-generic-create").click(function () {
    $.ajax({
      url: "{% url url_create %}",
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-ahome-generic").modal("show");
      },
      success: function (data) {
        $("#modal-ahome-generic .modal-content").html(data.html_form);
      }
    });
  });

});

</script>


<script>
  $(document).ready(function () {
    // Row Checkbox Selection
    $("#pf-list-simple-expansion input[type='checkbox']").change(function (e) {
      if ($(this).is(":checked")) {
        $(this).closest('.list-group-item').addClass("active");
      } else {
        $(this).closest('.list-group-item').removeClass("active");
      }
    });
    // toggle dropdown menu
    $("#pf-list-simple-expansion .list-view-pf-actions").on('show.bs.dropdown', function () {
      var $this = $(this);
      var $dropdown = $this.find('.dropdown');
      var space = $(window).height() - $dropdown[0].getBoundingClientRect().top - $this.find('.dropdown-menu').outerHeight(true);
      $dropdown.toggleClass('dropup', space < 10);
    });

    // click the list-view heading then expand a row
    $("#pf-list-simple-expansion .list-group-item-header").click(function(event){
      if(!$(event.target).is("button, a, input, .fa-ellipsis-v")){
        $(this).find(".fa-angle-right").toggleClass("fa-angle-down")
          .end().parent().toggleClass("list-view-pf-expand-active")
            .find(".list-group-item-container").toggleClass("hidden");
      } else {
      }
    })

    // click the close button, hide the expand row and remove the active status
    $("#pf-list-simple-expansion .list-group-item-container .close").on("click", function (){
      $(this).parent().addClass("hidden")
        .parent().removeClass("list-view-pf-expand-active")
          .find(".fa-angle-right").removeClass("fa-angle-down");
    })

  });
</script>




